In [1]:
import pandas as pd

In [2]:
# データの読み込み
train_data = pd.read_csv('../data/train.csv')
test_data = pd.read_csv('../data/test.csv')

In [4]:
print(len(train_data))
print(len(test_data))

27532
27537

In [3]:
print(len(test_data)/(len(test_data)+len(train_data)))

0.5000453975921118

In [7]:
# データの結合
all_data = pd.concat([train_data, test_data], ignore_index=True)
all_data.tail()

,id,region,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state,price
55064,55064,great falls,2016,gmc,excellent,6 cylinders,gas,90902,rebuilt,automatic,fwd,full-size,truck,black,mt,NaN
55065,55065,las vegas,2012,nissan,excellent,4 cylinders,gas,27234,rebuilt,automatic,fwd,mid-size,sedan,white,nv,NaN
55066,55066,phoenix,2002,bmw,excellent,6 cylinders,gas,99761,clean,automatic,rwd,full-size,coupe,blue,az,NaN
55067,55067,colorado springs,2006,bmw,excellent,6 cylinders,gas,162279,clean,automatic,4wd,mid-size,sedan,silver,co,NaN
55068,55068,syracuse,2006,jeep,excellent,6 cylinders,gas,186965,clean,automatic,4wd,full-size,SUV,black,ny,NaN

In [6]:
all_data.to_csv('../data/all_data.csv', index=False)